@import url('/fonts.css');

:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100vw;
  height: 100vh;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ducky-yellow: #F7DE64;
  --sky-blue: #3EB7F4;
  --frost-white: #FDFEFD;
  --steel-black: #2A2A2A;
  --cocoa: #6D4A09;
}

html, body, #root, #root>div, #app {
  width: 100%;
  height: 100%
}

#app {
  /* display: flex;
  justify-content: center; */
}

.bedtime-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: brightness(30%);
  z-index: 10;
}

.awake {
  filter: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--ducky-yellow) url('/duckbg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.register {
  width: 100%;
  height: 100%;
  background-image: url('/register.png');
  background-position: center;
  background-size: cover;
  margin: 0;
}

.register-code {
  position: absolute;
  top: 290px;
  left: 626px;
  width: 425px;
  height: 130px;
  font-size: 96px;
  font-weight: 700;
  color: var(--ducky-yellow);
  text-align: center;
  text-shadow: 0px 0px 1px 0px var(--cocoa);
  text-shadow: rgb(109, 74, 9) 1px 0px 0px, rgb(109, 74, 9) 0.540302px 0.841471px 0px, rgb(109, 74, 9) -0.416147px 0.909297px 0px, rgb(109, 74, 9) -0.989992px 0.14112px 0px, rgb(109, 74, 9) -0.653644px -0.756802px 0px, rgb(109, 74, 9) 0.283662px -0.958924px 0px, rgb(109, 74, 9) 0.96017px -0.279415px 0px;
}

.connect {
  width: 100%;
  height: 100%;
  background: var(--ducky-yellow);
}

.wifi-selector, .bulb-ip {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.bulb-ip > h3 {
  margin: 30px;
  color: var(--steel-black);
}

.bulb-ip-input {
  width: 300px;
  height: 75px;
  font-size: 36px;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  line-height: 50px;
  border-radius: 10px;
  margin: 10px;
  box-sizing: border-box;
  background: var(--frost-white);
}

.bulb-ip-submit {
  height: 75px;
  font-size: 36px;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  border-radius: 10px;
  background: var(--sky-blue);
  color: var(--frost-white);
  box-sizing: border-box;
}

.clock {
  display: flex;
  width: 950px;
  min-width: 950px;
  height: 400px;
  min-height: 400px;
  align-items: baseline;
  justify-content: flex-end;
  gap: 24px;
  position: fixed;
  top: 160px;
  left: 165px;
}

.clock-num {
  font-size: 272px;
  font-weight: 800;
  color: var(--frost-white);
  -webkit-text-stroke: 2px rgba(42, 42, 42, 0.3);
}

/* @keyframes tick {

  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
  
} */

@keyframes tick {

  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
  
}

.clock-tick {
  /* animation: tick 1s infinite; */
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.clock-num-seconds {
  width: 172px;
  min-width: 172px;
  font-size: 128px;
  text-align: right;
  font-weight: 600;
  color: var(--frost-white);
  -webkit-text-stroke: 2px rgba(42, 42, 42, 0.3);
}

.date {
  font-size: 48px;
  color:  var(--frost-white);
  width: 950px;
  text-align: center;
  position: fixed;
  top: 522px;
  left: 165px;
}

.alarm-desc {
  font-size: 72px;
  font-weight: 700;
  color: var(--steel-black);
  width: 1000px;
  height: 72px;
  position: fixed;
  top: 100px;
  left: 140px;
  line-height: 72px;
  text-align: center;
}

.light-control {
  width: 100px;
  height: 100px;
  position: fixed!important;
  left: 12px;
  bottom: 12px;
  background-color: rgba(253, 254, 253, 0.9)!important;
  box-shadow: 0px 1px 5px 1px rgba(42,42,42,0.1);
}

.light-control:active {
  background-color: rgba(253, 254, 253, 0.9);
}